Lab2/nbren004_lab2_part1/
Lab2/nbren004_lab2_part2/
Lab2/nbren004_lab2_part3/
Lab2/nbren004_lab2_part4/

Lab2/sha021_lab2_part1/sha021_lab2_part1/
Lab2/sha021_lab2_part1/sha021_lab2_part2/
Lab2/sha021_lab2_part1/sha021_lab2_part3/
Lab2/sha021_lab2_part1/sha021_lab2_part4/
sha021_lab2_part1


Lab3/Lab_3_pt_1/
Lab3/nbren004_lab3_pt2/
Lab3/nbren004_lab3_pt_3/
Lab3/nbren004_lab3_pt4/
Lab3/nbren004_lab3_pt5/

Lab3/.vscode/
Lab3/Nate_Submit/
nbren004_lab3.tgz

Lab4/
